<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AssimilationSoftware.TodoSort.CLI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="TodoSort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <AssimilationSoftware.TodoSort.CLI.Properties.Settings>
      <setting name="Todo" serializeAs="String">
        <value>{MyDocs}\..\Dropbox\Thoughts\todo.txt</value>
      </setting>
      <setting name="Someday" serializeAs="String">
        <value>{MyDocs}\..\Dropbox\Reference\Actions\someday.txt</value>
      </setting>
      <setting name="Done" serializeAs="String">
        <value>{MyDocs}\..\Dropbox\Reference\Actions\done.txt</value>
      </setting>
      <setting name="Configured" serializeAs="String">
        <value>False</value>
      </setting>
    </AssimilationSoftware.TodoSort.CLI.Properties.Settings>
    <TodoSort.Properties.Settings>
      <setting name="Todo" serializeAs="String">
        <value>{MyDocs}\My Dropbox\Thoughts\todo.txt</value>
      </setting>
      <setting name="Someday" serializeAs="String">
        <value>{MyDocs}\My Dropbox\Actions\someday.txt</value>
      </setting>
      <setting name="Done" serializeAs="String">
        <value>{MyDocs}\My Dropbox\Actions\done.txt</value>
      </setting>
      <setting name="Configured" serializeAs="String">
        <value>False</value>
      </setting>
    </TodoSort.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
