{{#each items}}
{{#if index}}
{{index}}
{{/if}}
	{{title}}
	{{#if type}}
		[{{type}}]
	{{/if}}
	{{#each notes}}
		- {{note}}
	{{/each}}
	{{#each tags}}
		#{{tag}}:{{value}}
	{{/each}}
{{#newline}}
{{/each}}