<html>
{{#newline}}
	<body>
{{#newline}}
{{#each items}}
		<input type="checkbox">
{{#if url}}
			<a href="{{url}}">{{title}}</a>
{{#else}}
			{{title}}
{{/if}}
{{#if type}}
			[{{type}}]
{{/if}}
		</input>
{{/each}}
{{#newline}}
	</body>
{{#newline}}
</html>