<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AssimilationSoftware.TodoSort.WpfGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AssimilationSoftware.TodoSort.WpfGui.Properties.Settings>
            <setting name="Todo" serializeAs="String">
                <value>C:\Users\jnickerson.SNOWDEN\Documents\My Dropbox\Thoughts\todo.txt</value>
            </setting>
            <setting name="Reconfigure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
        </AssimilationSoftware.TodoSort.WpfGui.Properties.Settings>
        <WpfGui.Properties.Settings>
            <setting name="Todo" serializeAs="String">
                <value>C:\Users\jnickerson.SNOWDEN\Documents\My Dropbox\Thoughts\todo.txt</value>
            </setting>
            <setting name="Someday" serializeAs="String">
                <value>C:\Users\jnickerson.SNOWDEN\Documents\My Dropbox\Actions\someday.txt</value>
            </setting>
            <setting name="Done" serializeAs="String">
                <value>C:\Users\jnickerson.SNOWDEN\Documents\My Dropbox\Actions\done.txt</value>
            </setting>
            <setting name="Reconfigure" serializeAs="String">
                <value>True</value>
            </setting>
        </WpfGui.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
